// Resources config

process {
    withLabel: largecpu {
        cpus = 64
    }
    withLabel: mediumcpu {
        cpus = 24
    }
    withLabel: smallcpu {
        cpus = 8
    }
    withLabel: largemem {
        memory = '24 GB'
    }
    withLabel: mediummem {
        memory = '12 GB'
    }
    withLabel: smallmem {
        memory = '4 GB'
    }
}
